src/main/resources/Person.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            xmlns="urn:nonstandard:test"
            targetNamespace="urn:nonstandard:test">
    <xsd:element name="person" type="Person" />
    <xsd:complexType name="Person">
      <xsd:element name="firstname" type="xsd:string" />
      <xsd:element name="lastname" type="xsd:string" />
      <xsd:element name="address" type="xsd:string" />
    </xsd:complexType>
</xsd:schema>
